.circle-wrap {
    float: left;
}

md-grid-list {
    width: 220px;
    height: 40px;
}

.colour-button {
    padding: 0 14px;
}

.selected-colour {
    position: absolute;
    left: 15px;
    top: 12px;
}