.note-item{
    width: 300px;
    display: flex;
    margin: 0 auto;
    padding: 6px 12px;
}

.check-wrap{
    margin: 5px;
    align-items: stretch;
}

.item-contents{
    margin: 5px;
    width: 100%;
    word-break: break-all;
    font-size: 16px;
}

.list-group-item-success{
    text-decoration: line-through;
}

